{% extends 'pizza/base.html' %}

{% block content %}

<div class="container">

    <h1>Order a Pizza</h1>

    <p> <b> <i>{{ message }}</i> </b> </p>
    <p>Do you want to order more?</p>
    <form action="{% url 'pizzas' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="form-group">
                {{ form}}
            </div>
            <br>
        {% endfor %}
        <input type='submit' value='Order Pizzas'>
    <button><a href="{% url 'order' %}"><span>Order Only One</span></a></button>
    </form>

</div>

{% endblock content %}